<div class="jumbotron text-center" style="margin-bottom:0;background-color:#00F3FF">
    <div class="row">
        <div class="col-4"><img height="120" src="http://www.doyoubuzz.com/var/users/_/2010/3/23/16/39453/avatar/37619/avatar_cp_big.jpg?t=1529438187" class="rounded-circle" alt="Cinque Terre"></div>
        <div class="col-4">
          <h1>Romain DELSOL</h1>
          <h4>Responsable d'application</h4>
          <h4>Ingénieur d'études</h4> 
        </div>
        <div class="col-4 text-left">
            <div class="row">
              <div class="col-1"><i class="fa fa-address-card"></i></div>
              <div class="col">60 rue Alexis Revenaz 91000 Evry</div>
            </div>
            <div class="row">
                <div class="col-1"><i class="fa fa-phone"></i></div>
                <div class="col"><a href="tel:+33772161951">07 72 16 19 51</a></div>
            </div>
            <div class="row">
                <div class="col-1"><i class="fa fa-envelope"></i></div>
                <div class="col"><a href="mailto:romain.delsol@gmail.com">romain.delsol@gmail.com</a></div>
            </div>
        </div>
      </div>
  
 
</div>